window {
	background-color: rgba (0, 0, 0, 0.0)
}

/* Outer bar container, takes all the window width/height */
#outer-box {
	margin: 0px
}

/* Inner bar container, surrounds buttons */
#inner-box {
	background-color: rgba (20, 20, 20, 0.7);
	border-radius: 10px;
	border-style: none;
	border-width: 1px;
	border-color: rgba (156, 142, 122, 0.7);
	padding: 5px;
	margin: 5px
}

button,
image {
	background: none;
	border: none;
	box-shadow: none;
	color: #00FFFF;
	-gtk-icon-effect: none;
}

image {
	color: #00FFFF;
}

button {
	padding-left: 10px;
	padding-right: 10px;
	margin: 5px;
	color: #00FFFF;
}

button:hover {
	background-color: rgba (0, 255, 255, 0.2);
	border-radius: 5px;
}